@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
  .logo {
    margin-: 3rem;
  }

  .nav-contact {
    margin-left: 1rem;
    margin-right: 0;
  }

  .nav-bar {
    gap: 1rem;
  }
}

@media (max-width: 58em) {
  .hide-on-mobile {
    display: none;
  }

  .menu-icon svg {
    display: block;
  }

  .logo {
    margin-left: 7rem;
  }

  .dropdown-list-container {
    right: 6rem;
    top: -3rem;
  }
}
