* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-size: 62.5%;   */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #1c1c1c;
}

.heading-primary {
  color: #fff;
  font-size: 2.5rem;
}

.heading-secondary {
  font-size: 2.25rem;
  color: #fff;
  margin-top: 3.5rem;
}

.heading-tertiary {
  color: #e62026;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 5rem;
}

.padding--right-left {
  padding-left: 8rem;
  padding-right: 8rem;
}

.container {
  /* padding-bottom: 1.25rem; */
}

.heading-services-container {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/services-hero-image\(1\).jpg);
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
  background-blend-mode: darken;
  height: 23.125rem;
  width: 100%;
}

.heading-services-text .heading-primary {
  text-align: center;
  padding-top: 6.25rem;
  color: white;
}

.sub-heading {
  color: white;
  font-size: 1rem;
  margin-top: 0.9375rem;
  padding-bottom: 6.25rem;
  text-align: center;
  text-align: align;
  font-weight: 500;
}

.home-link:link,
.home-link:visited {
  color: white;
  text-decoration: none;
  font-style: inherit;
  transition: all 0.3s ease;
}

.home-link:hover,
.home-link:hover {
  color: #e62026;
  transform: scale(1.1);
}

/* ************************ */
/* *****Services-Content*** */
/* ************************ */

.services-heading {
  padding-bottom: 3rem;
  /* display: inline-block; */
  position: relative;
}

.services-heading::before {
  content: "";
  position: absolute;
  /* margin-left: 8rem; */
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 2.5rem;
  bottom: -0.3125rem;
  left: 0;
  width: 20rem;
  height: 3px;
  background: linear-gradient(to right, #1c1c1c, #e62026 90%);
}

.para-phrase {
  font-size: 1rem;
  /* font-weight: 500; */
  margin-bottom: 3rem;
}

/* ***************************** */
/* ********services-flex******** */
/* ***************************** */

.services-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service-flex {
  /* background-color: #ee6367; */
  background-color: #ec4141;
  margin-bottom: 4rem;
  border-radius: 11px;

  box-shadow: 0.5rem 0.5rem 7rem 0.5rem rgba(100, 100, 100, 0.8);
  transition: all 0.3s ease;

  display: grid;
  grid-template-columns: 1fr 2fr;

  overflow: hidden;
}

.service-flex:hover {
  box-shadow: 0.5rem 0.5rem 3rem 0.5rem rgb(100, 100, 100);
}

.service-flex-image {
  margin-right: 2rem;
  background-size: cover;
  background-position: center center;
}

.service-flex-content {
  padding-left: 4rem;
}

.service-flex-list {
  list-style: url(../images/arrow_right.png);
}

.service-flex-heading {
  /* color: #731013; */
  color: #1c1c1c;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}

.service-flex-list-item {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

.service-flex-list:last-child {
  padding-bottom: 3rem;
}

/* Flex Container Images */

.service-flex-image-1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/students-services.jpg);
}

.service-flex-image-2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/indian-culture-services.jpg);
}

.service-flex-image-3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/leaders-services.jpg);
  background-position: 100%;
}

.service-flex-image-4 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/partnership-services.jpg);
  background-position: 40% 100%;
}

.service-flex-image-5 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/education-services.jpg);
  background-position: 40% 100%;
}

.service-flex-image-6 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/digital_media-services.jpg);
  background-position: 40% 100%;
}

.service-flex-image-7 {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 144, 147, 0.2),
      rgba(238, 99, 104, 0.5)
    ),
    url(../images/advisory-services.jpg);
  background-position: 40% 100%;
}
