@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .padding--right-left {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (max-width: 50em) {
  .service-flex-image {
    content: "";
    height: 25rem;
    width: 100%;
  }
  .service-flex {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 28em) {
}
