@media (max-width: 94em) {
  .padding--right-left {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media (max-width: 94em) {
  html {
    font-size: 90%;
  }

  .padding--right-left {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (max-width: 79em) {
  /* html {
    font-size: 70%;
  } */
}

@media (max-width: 70em) {
}

@media (max-witdth: 67.5em) {
  /* html {
    font-size: 60%;
  } */
}

@media (max-width: 50em) {
  .service-flex-image {
    content: "";
    height: 25rem;
    width: 100%;
  }
  .service-flex {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 28em) {
}
